[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pygeocoder = "*"
googlemaps = "*"
matplotlib = "*"
numpy = "*"
black = "*"
geopy = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.10"
